// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div {
  padding: 5px;
}

h4 {
  text-align: center;
  padding: 5px;
}