<p id="notice"></p>
<div class="container">
 <div class="row">
  <div class="px-3 mx-auto">
   <div class="box">
    <div class="inside-box">
      <p>ようこそ、ながのCAKEへ！</br>
      このサイトは、ケーキ販売のECサイトになります。</br>
      会員でない方も商品の閲覧はできますが、</br>
      購入には会員登録が必要になります。</p>
    </div>
   </div>
   <h4>新着商品</h4>
    <% @items.each do |item| %>
　　<%= attachment_image_tag @item, :image, :fill, 300, 250, fallback: "image.png" %>
　　<%= item.name %>
　　¥<%= item.price %>
　   <% end %>
　   
　   <%= link_to "全ての商品を見る>", new_customer_session_path %>
