<p id="notice"></p>
<div class="container">
 <div class="row">
  <div class="px-8 mx-auto">
   <div class="box">
      <p>ようこそ、ながのCAKEへ！</br>
      このサイトは、ケーキ販売のECサイトになります。</br>
      会員でない方も商品の閲覧はできますが、</br>
      購入には会員登録が必要になります。</p>
   </div>
  </div>
 </div>
</div>
<h4>新着商品</h4>
<div class="items">
   
   <% @items.first(4).each do |item| %>
   　<%= link_to image_tag("image.png", class: "image"), item_path(item.id) %></br>
  　　<%= item.name %>
  　　¥<%= item.price %>
　 <% end %>
</div>
<div class="pagination">
 <%= link_to "全ての商品を見る >", new_customer_session_path %>
</div>
