<p id="notice"></p>
<h4>会員一覧</h4>
<div class="container">
 <div class="row">
  <div class="px-3 mx-auto">
　 <table class="table">
    <thead>
     <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
     </tr>
    </thead>
    <tbody>
　　<% @customers.each do |customer| %>
　　 <tr>
　　   <td><%= customer.id %></td>
　　   <td><%= link_to customer.last_name + customer.first_name, admin_customer_path(customer.id) %></td>
　　   <td><%= customer.email %></td>
　　   <td>
　　    <% if customer.is_active %>
        <font color="green">有効</font>
        <% else %>
        <font color="red">退会</font>
        <% end %>
      </td>
      </tr>
     <% end %>
     </div>
    </div>
  </div>
 </div>