/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 .nav-item{
    padding: 5px;
 }
 
 th{
    background: #eee;
 }
 
 div{
    padding: 5px;
 }

.cofirm{
   margin: 50px;
   padding: 15px;
   text-align: center;
}

.update_all{
   text-align: center;
}

.btn-primary{
   margin-right: 10px;
 }

.cart{
   margin: 10px;
}

.pagination{
   padding: 10px 500px;
   text-align: center;
}

.left{
   margin: 27px;
}

.items{
	display: flex;
	flex-wrap: wrap;
}

.item{
  width: 80px;
  height: 70px;
}

